<!DOCTYPE html>
<html>
<head>
  <title>RubyDemo</title>
  <%= stylesheet_link_tag "application" %>
  <div class=" page-header" style="text-align: center; color: slategrey">
    <h1><a style="text-decoration: none" href="/">RubyDemo</a></h1>
  </div>
</head>
<body>
<ul class="list-group">
  <li class="list-group-item">
    <span class="glyphicon glyphicon-search"></span>
    <a href="person/list">CallPerson List</a>
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-plus"></span>
    <%= link_to 'Create Person', person_create_path %></li>
</ul>
<%= javascript_include_tag "application" %>
</body>
</html>
